<!-- ! -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">  <!-- link.css emmet abbreviation. For href, the . gets out of a folder. To get to another folder, you use /. the initial . gets you out of templates and then ./ helps you get into static folder-->
</head>
<body>
    <!-- HTML code goes in the body code -->
    <!-- header.heading. Below was entered as heading.header. The .header gives it class name -->
    <header class="heading">Github and Semantic Demo</header>
    <!-- main#main>section*2+aside : The # gives an id, the > nests a child, we defined that as section, made two of them with *2 and added a sibling with the + with the type of aside. -->
    <main id="main">
        <section>test</section>
        <section>test</section>
        <aside>test</aside>
    </main>
    <!-- footer>section.footer-section*3 -->
    <footer>
        <section class="footer-section">random data</section>
        <!-- ul>li*5 -->
        <h2>Matrix Favorite Books</hr>
            <ul>
                <li>Dylan: The Dark Tower</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        <section class="footer-section">random data</section>
        <section class="footer-section">random data</section>
    </footer>
</body>
</html>

<!-- html:5 -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html> -->